* {
    font-family: "Merriweather", Courier, monospace;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2vh 2vw;
}

.row {
    display: flex;
}

.left {
    width: 75%;
    padding-right: 5vw;
}

.right {
    width: 25%;
    word-wrap: break-word;
}

.right > p {
    padding-bottom: 5vh;
}

.right > h2:last-of-type {
    padding-top: 5vh;
}

h1 {
    padding: 2vh 0 4vh 0;
    font-size: 2.8em;
    color: #2079C7;
}

h2 {
    padding: 2vh 0 1vh 0;
    font-size: 1.5em;
    color: #2079C7;
    text-transform: uppercase;
}

ul {
    padding-left: 1vw;
}

a {
    text-decoration: none;
    color: black;
}

p {
    padding-bottom: 2vh;
}

strong, em {
    font-size: 1.2em;
}

.date {
    text-transform: uppercase;
    display: block;
}

.right > h2 {
    padding-bottom: 2vh;
}

.right > ul > li {
    padding-bottom: 3vh;
}

@media print {

    * {
        font-size: 16px;
    }

    .right > p {
        font-size: 17px;
    }

    ul {
        padding-left: 1.2em;
    }

    em {
        display: block;
    }

}